:root {
  --primary: #fc12b0;
  --secondary: #fcb1e3;
  --accent: #F7F900ff;
  --accent2: #9d9aac;
  --dark: #271a0f;
}

.theme-main {
  --background: white;
}

.theme-dark {
  --accent2: #271a0f;
  --dark: #9d9aac;
  --background: #1d1d28;
}

@font-face {
  font-family: "Bianca";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: url("/fonts/Bianca/Bianca.otf");
}

@font-face {
  font-family: "Badaboom";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: url("/fonts/Badaboom/Badaboom.ttf");
}

html,
body {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  background-color: var(--background);
}

* {
  padding:0;
  margin:0;
}

